@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/functions" as *;
.scoreSection {
    position: relative;
    background: $appsMainWhite;
    padding: spaces(sm) * 1.5;
    border: 1px solid $appsContentsGrey;
    border-radius: spaces(sm) * 0.75;
    @include fntfce(xs, sbd);
    margin: spaces(md);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.scoreList {
    padding: spaces(xs);
    li {
        width: 150px;
        margin: 0 0 spaces(lg) * 2 0;
    }
}